body {
    border: 0px;
    background-color: #E2DFE0;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav ul {
    list-style: none;
}
.nav {
    background: #79A94A;
    min-height: 80px;
}
.nav .left {
    float: left;
    margin-left: 2em;
    margin-top: 7px;
}
.nav .left li {
    font-size: 20px;
    float: left;
    display: block;
    line-height: 30px;
}
.nav .left li a:hover {
    color: black;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.nav .right {
    float: right;
    margin-right: 1em;
}
.nav .right li {
    font-size: 14px;
    float: left;
}
.nav .right li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}
.toggle-nav {
    display: none;
}
.nav-mobile style {
    display: block;
}
@media only screen and (max-width: 1250px) {
    #right-block {
        display: none;
    }
    #triangle-top-right {
        display: none;
    }
}
@media only screen and (max-width: 1245px) {
    .nav-mobile #search-hide {
        display: none;
    }
}
@media only screen and (max-width: 1030px) {
    .nav-mobile #social-media-logo {
        display: none;
    }
}
@media only screen and (max-width: 640px) {
    .nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .toggle-nav {
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after {
        content: ' Menu';
    }
    .nav-mobile {
        display: none;
        z-index: 99;
        text-align: center;
    }
    .nav-mobile #social-media-logo {
        display: none;
    }
    .nav-mobile #search-hide {
        display: none;
    }
    .style-mobile {
        background: #6ea23b;
        top: 51px;
        position: absolute;
        width: 100%;
    }
    .style-mobile li {
        display: block;
        width: 100%;
    }
    .nav .right {
        display: block;
        float: none;
        margin: 0em;
    }
    .nav .left {
        display: block;
        float: none;
        margin: 0em;
    }
}
@media only screen and (min-width: 641px) {
    .nav-mobile {
        display: block !important;
    }
}
#social-media-logo i {
    font-size: 25px;
    background: #666;
    background: #413E44;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#social-media-logo:hover {
    color: #65d065;
}
#search {}
#search input[type="text"] {
    background: url(search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #777;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#search input[type="text"]:focus {
    width: 200px;
}

/********************************************************
                        HERO
********************************************************/

.hero {
    background-color: white;
    padding-bottom: 50px
}
#hero-img {
    position: absolute;
    right: 10%;
}
.hero #right-block p {
    color: white;
    font-weight: bold
}

/********************************************************
                        ABOUT
********************************************************/

.about {
    background: #79A94A;
}
.about hr {
    background-color: white;
    border-color: white;
    border-width: medium
}
.about #hr-pad-left {
    margin-left: -40px
}
.about h3 {
    padding-top: 50px;
    color: white;
}
button:hover {
    cursor: pointer;
    opacity: 0.9;
}
.card {
    background: #fefefe;
    border: 1px solid #dddddd;
    border-radius: 2px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px
}
.card-menu {
    position: absolute;
    right: 0;
    top: 0;
}
.card-image {
    width: 100%;
    height: 150px
}
.card-content {
    padding: 8px 16px 16px;
    background-color: #CB5627;
    color: white;
}

/********************************************************
                        WHATS NEW
********************************************************/

.whats-new {
    background-color: #C5DF96;
    margin-bottom: 100px;
}
.whats-new #pad-top {
    padding-top: 50px;
}
.whats-new h3,
p,
h5 {
    color: #79A94A;
}
.whats-new .left {
    border-right: solid #79A94A 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 310px
}
#img-size {
    height: 200px;
}

/********************************************************
                        WHATS NEW
********************************************************/

#right-block {
    width: 90px;
    height: 170px;
    background-color: #103252;
    float: right;
    margin-right: -216px;
    line-height: 2;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#595A5C, #6E6F72, #818285);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#595A5C, #6E6F72, #818285);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#595A5C, #6E6F72, #818285);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#595A5C, #6E6F72, #818285);
    /* Standard syntax */
}
#triangle-top-right {
    width: 0;
    height: 0;
    border-top: 170px solid #656565;
    border-left: 170px solid transparent;
    float: right;
    margin-right: -126px;
}
