body {
    border: 0px;
    background-color: #E2DFE0;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav ul {
    list-style: none;
    padding-top: 10px
}
.nav {
    background: #79A94A;
    min-height: 70px;
}
.nav .left {
    float: left;
    margin-left: 1em;
}
.nav .left li {
    font-size: 14px;
    float: left;
}
.nav .left li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}
.nav .left li a:hover {
    background: #f2f2f2;
}
.nav .right {
    float: right;
    margin-right: 1em;
}
.nav .right li {
    font-size: 14px;
    float: left;
}
.nav .right li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}
.nav .right li a:hover {
    background: #f2f2f2;
}
.toggle-nav {
    display: none;
}
.nav-mobile style {
    display: block;
}
@media only screen and (max-width: 640px) {
    .nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .toggle-nav {
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after {
        content: ' Menu';
    }
    .nav-mobile {
        display: none;
    }
    .style-mobile {
        background: #ffffff;
        top: 51px;
        position: absolute;
        width: 100%;
    }
    .style-mobile li {
        display: block;
        width: 100%;
    }
    .nav .right {
        display: block;
        float: none;
        margin: 0em;
    }
    .nav .left {
        display: block;
        float: none;
        margin: 0em;
    }
}
@media only screen and (min-width: 641px) {
    .nav-mobile {
        display: block !important;
    }
}
#social-media-logo {
    background-color: #413E44;
    border-radius: 250%;
    margin-left: 50px;
}

/********************************************************
                        HERO
********************************************************/

.hero {
    background-color: white;
    height: 400px;
}

/********************************************************
                        ABOUT
********************************************************/

.about {
    background: #79A94A;
}
.about hr {
    background-color: white;
    border-color: white;
    border-width: medium
}
.about #hr-pad-left {
    margin-left: -40px
}
.about h3 {
    padding-top: 50px;
    color: white;
}
button:hover {
    cursor: pointer;
    opacity: 0.9;
}
.card {
    background: #fefefe;
    border: 1px solid #dddddd;
    border-radius: 2px;
    margin-bottom: 70px
}
.card-menu {
    position: absolute;
    right: 0;
    top: 0;
}
.card-image {
    width: 100%;
}
.card-content {
    padding: 8px 16px 16px;
}

/********************************************************
                        WHATS NEW
********************************************************/

.whats-new {
    background-color: #C5DF96;
    margin-bottom: 100px;
}
.whats-new #pad-top {
    padding-top: 50px;
}
.whats-new h3,
p,
h5 {
    color: #79A94A;
}
.whats-new .left {
    border-right: solid #79A94A 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 220px
}

/**********************************************************************************************************************************************************************************************************************************************************************************/

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}

/* Form wrapper styling */

.search-wrapper {
    width: 240px;
    margin: 45px auto 50px auto;
}

/* Form text input */

.search-wrapper input {
    width: 160px;
    height: 20px;
    padding: 10px 15px;
    float: left;
    font: normal 16px 'Arial', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 5px 0 0 5px;
}
.search-wrapper input:hover + .search-wrapper button {
    background: #ccc
}
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
}
.search-wrapper input::-webkit-input-placeholder {
    color: #c6c7c6;
    font-weight: normal;
}
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */

.search-wrapper button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 50px;
    font: bold 18px 'Arial', 'Tahoma';
    color: white;
    background: #c1c1c1;
    border-radius: 0 5px 5px 0;
    transition: all 2.0s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.search-wrapper button:hover {
    background: #5cc924;
    transition: all 2.0s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.search-wrapper button:active,
.search-wrapper button:focus {
    background: #329400;
    outline: 0;
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    -o-transition: all 0s linear;
}
.search-wrapper button:hover:before {
    border-right-color: #e54040;
}
.search-wrapper button:focus:before,
.search-wrapper button:active:before {
    border-right-color: #c42f2f;
}
.search-wrapper button::-moz-focus-inner {
    /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

/**********************************************************************************************************************************************************************************************************************************************************************************/
